<!DOCTYPE html>
<html>
<head>
  <title>Redt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Red.t</h1>

<nav>
  <% if current_user %>
    <%= link_to current_user.username, user_path(current_user) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Login", login_path %>
  <% end %>

  <% if current_user %>
    <%= link_to "My Links", user_links_path(current_user.id) %>
    <%= link_to "Add link", new_user_link_path %>
  <% end %>
</nav>


<%= yield %>

</body>
</html>
